<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> AWT-TN Vault </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="walletConnect.requests.connection">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Connection Request</ion-card-subtitle>
        <ion-card-title>{{
          walletConnect.requests.session.peerMeta.name
        }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Wants to connect to your wallet.

        <div class="actions">
          <ion-button color="success" (click)="walletConnect.allow('connect')"
            >Allow</ion-button
          >
          <ion-button color="danger" (click)="walletConnect.deny('connect')"
            >Deny</ion-button
          >
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container
    *ngIf="
      walletConnect.requests.eth_sendTransaction ||
      walletConnect.requests.eth_sign ||
      walletConnect.requests.eth_signTypedData
    "
  >
    <!-- need to make card component -->

    <ion-card class="ion-no-padding native wallet-card">
      <ion-card-content class="ion-no-padding">
        <ion-grid>
          <ion-row>
            <ion-col class="qr"
              ><img
                src="/assets/crypto/icons/{{
                  symbolConvert(walletConnect.wallet.symbol)
                }}.svg"
              />
              <qrcode
                [qrdata]="walletConnect.wallet.address"
                [width]="120"
                [errorCorrectionLevel]="'M'"
              ></qrcode>
            </ion-col>
            <ion-col class="setpositon"
              ><h1 class="trunc">
                {{ walletConnect.wallet.symbol.toUpperCase() }}
              </h1>
              <div>{{ getAmount(walletConnect.wallet) }}</div>
              <div class="smaller">{{ walletConnect.wallet.address }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="walletConnect.requests.eth_sendTransaction">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Transfer Request From</ion-card-subtitle>
        <ion-card-title>{{
          walletConnect.requests.session.peerMeta.name
        }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item class="indent">
            <ion-label position="floating">To Address</ion-label>
            <ion-input
              placeholder="0x"
              readonly
              [value]="
                walletConnect.requests.eth_sendTransaction.event.request
                  .params[0].to
              "
            ></ion-input>
          </ion-item>
          <ion-item class="indent">
            <ion-label position="floating">Amount</ion-label>
            <ion-input
              placeholder="0x"
              readonly
              [value]="
                bn2N(
                  walletConnect.requests.eth_sendTransaction.event.request
                    .params[0].value
                )
              "
            ></ion-input>
          </ion-item>
          <!-- <ion-item class="indent">
            <ion-label position="floating">Gas Price</ion-label>
            <ion-input
              placeholder="0x"
              readonly
              [value]="
                bn2N(
                  walletConnect.requests.eth_sendTransaction.event.request
                    .params[0].gas, true
                )
              "
            ></ion-input>
          </ion-item> -->
          <!-- <ion-item class="indent">
            <ion-label position="floating">From</ion-label>
            <ion-input
              placeholder="0x"
              readonly
              [value]="
                walletConnect.requests.eth_sendTransaction.event.request
                  .params[0].from
              "
            ></ion-input>
          </ion-item> -->
          <ng-container *ngIf="walletConnect.displayFees.low">
            <ion-list-header> Transaction Fee </ion-list-header>
            <ion-segment [(ngModel)]="walletConnect.selectedFee">
              <ion-segment-button value="low">
                <ion-label>Slow</ion-label>
                <ion-label
                  >{{ walletConnect.displayFees.low }}
                  {{ walletConnect.feeSymbol }}</ion-label
                >
              </ion-segment-button>
              <ion-segment-button value="medium">
                <ion-label>Normal</ion-label>
                <ion-label
                  >{{ walletConnect.displayFees.medium }}
                  {{ walletConnect.feeSymbol }}</ion-label
                >
              </ion-segment-button>
              <ion-segment-button value="high">
                <ion-label>Fast</ion-label>
                <ion-label
                  >{{ walletConnect.displayFees.high }}
                  {{ walletConnect.feeSymbol }}</ion-label
                >
              </ion-segment-button>
            </ion-segment>
          </ng-container>
        </ion-list>

        <div class="actions">
          <ion-button color="success" (click)="walletConnect.getSignature()"
            >Transfer</ion-button
          >
          <ion-button
            color="danger"
            (click)="walletConnect.deny('eth_sendTransaction')"
            >Cancel</ion-button
          >
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="walletConnect.requests.eth_sign">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Signature Request From</ion-card-subtitle>
        <ion-card-title>{{
          walletConnect.requests.session.peerMeta.name
        }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Currently this action is not supported.

        <div class="actions">
          <ion-button color="success" disabled>Sign</ion-button>
          <ion-button color="danger" (click)="walletConnect.deny('eth_sign')"
            >Cancel</ion-button
          >
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="walletConnect.requests.eth_signTypedData">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Typed Signature Request From</ion-card-subtitle>
        <ion-card-title>{{
          walletConnect.requests.session.peerMeta.name
        }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Currently this action is not supported.

        <div class="actions">
          <ion-button color="success" disabled>Sign</ion-button>
          <ion-button
            color="danger"
            (click)="walletConnect.deny('eth_signTypedData')"
            >Cancel</ion-button
          >
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-card *ngIf="!walletConnect.requests.session">
    <ion-card-header>
      <!-- <ion-card-subtitle>Connection Request</ion-card-subtitle> -->
      <ion-card-title>Establish Connection</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Wallet Connect URI</ion-label>
          <ion-input
            placeholder="wc:"
            [(ngModel)]="walletConnectUri"
          ></ion-input>
          <ion-icon
            *ngIf="canScan()"
            class="suffix-icon"
            color="secondary"
            name="scan-circle-outline"
            (click)="scanner()"
            slot="end"
          ></ion-icon>
        </ion-item>
      </ion-list>

      <div class="actions">
        <ion-button color="success" (click)="connect()">Connect</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card
    *ngIf="!walletConnect.requests.connection && walletConnect.requests.session"
  >
    <ion-card-header>
      <ion-card-subtitle>Connected To</ion-card-subtitle>
      <ion-card-title>{{
        walletConnect.requests.session.peerMeta.name
      }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="actions">
        <ion-button color="danger" (click)="disconnect()"
          >Disconnect</ion-button
        >
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
