<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Nitr0gen Wallet </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-no-padding native">
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col class="qr"
            ><img
              src="/assets/crypto/icons/{{ symbolConvert(wallet.symbol) }}.svg"
            />
            <qrcode
              [qrdata]="wallet.address"
              [width]="120"
              [errorCorrectionLevel]="'M'"
            ></qrcode>
          </ion-col>
          <ion-col class="setpositon"
            ><h1 class="trunc">{{ wallet.symbol.toUpperCase() }}</h1>
            <div>{{getAmount(wallet)}}</div>
            <div class="smaller">{{ wallet.address }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-list-header> Send {{ wallet.symbol }} </ion-list-header>
    <ion-item class="indent">
      <ion-label position="floating">To Address</ion-label>
      <ion-input placeholder="0x" [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-item class="indent">
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="number" [(ngModel)]="amount"></ion-input>
    </ion-item>
    <ng-container *ngIf="displayFees">
      <ion-list-header> Transaction Fee </ion-list-header>
      <ion-segment [(ngModel)]="selectedFee">
        <ion-segment-button value="low">
          <ion-label>Slow</ion-label>
          <ion-label>{{ displayFees.low }} {{ feeSymbol }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="medium">
          <ion-label>Normal</ion-label>
          <ion-label>{{ displayFees.medium }} {{ feeSymbol }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="high">
          <ion-label>Fast</ion-label>
          <ion-label>{{ displayFees.high }} {{ feeSymbol }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ng-container>
    <!-- <ion-item class="indent" *ngIf="storage.settings.security.twofa">
      <ion-label position="floating">Two Factor Auth</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="twofa"
        [disabled]="twoPending"
      ></ion-input>
    </ion-item> -->
    <div class="contain">
      <ion-button (click)="send()" expand="block" color="success"
        >Send</ion-button
      >
      <br />
      <ion-button (click)="cancel()" expand="block" color="danger"
        >Cancel</ion-button
      >
    </div>
  </ion-list>
</ion-content>
