.indent {
  margin-left: 20px;
}

.indent-cbt { 
  margin-left: 16px;
}

.full-width {
  padding: 0 10px;
}

.slim-down {
  width: 75%;
  margin: 0 auto;
}

// .pair {
//   margin-top: 90px;
// }

// @media only screen and (max-width: 430px) {
//   .pair {
//     margin-top: 0;
//   }
// }

.suffix-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 19;
}
