<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Nitr0gen Vault </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->

  <ion-list [inset]="true">
    <ion-list-header> Version : {{version}} </ion-list-header>
    <ion-list-header> Pair Devices </ion-list-header>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-self-center" style="text-align: center">
            <ion-button expand="full" color="secondary" (click)="copyCode()"
              >Copy Code</ion-button
            >
            <qrcode
              [qrdata]="uuid"
              [width]="176"
              [errorCorrectionLevel]="'M'"
            ></qrcode>
            <ion-item class="pair">
              <ion-label position="floating">Pair Code</ion-label>
              <ion-input [(ngModel)]="pairCode"></ion-input>
              <ion-icon
                *ngIf="canScan()"
                class="suffix-icon"
                color="secondary"
                name="scan-circle-outline"
                (click)="scanner()"
                slot="end"
              ></ion-icon>
            </ion-item>
            <ion-button expand="full" color="secondary" (click)="pairWarning()"
              >Pair Device</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
      <div></div>
      <div></div>
    </ion-item>
    <ion-list-header> Security </ion-list-header>
    <ion-item>
      <ion-label>Enable Two Factor Authentication</ion-label>
      <ion-checkbox
        (ionChange)="blurSave('security')"
        color="primary"
        [(ngModel)]="storage.settings.security.twofa"
        slot="start"
      ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Freeze Wallet</ion-label>
      <ion-checkbox
        (ionChange)="blurSave('security')"
        color="primary"
        [(ngModel)]="storage.settings.security.freeze"
        slot="start"
      ></ion-checkbox>
    </ion-item>
    <ion-list-header> About Me </ion-list-header>
    <ion-item class="indent">
      <ion-label position="floating">Email Address</ion-label>
      <ion-input
        (ionBlur)="blurSave('email')"
        [(ngModel)]="storage.settings.general.email"
      ></ion-input>
    </ion-item>
    <ion-item class="indent">
      <ion-label position="floating">Telephone Number</ion-label>
      <ion-input
        (ionBlur)="blurSave('telephone')"
        [(ngModel)]="storage.settings.general.telephone"
      ></ion-input>
    </ion-item>
    <ion-list-header> Recovery </ion-list-header>
    <ion-item class="indent">
      <ion-label position="floating">Social Recovery</ion-label>
      <ion-input
        (ionBlur)="blurSave('recovery')"
        type="text"
        [(ngModel)]="storage.settings.recovery.email"
      ></ion-input>
      <ion-note>
        This person will help recovery your key access when registering a new
        OTK.
      </ion-note>
    </ion-item>
    <br />
    <ion-button
      (click)="socialRecovery()"
      expand="block"
      color="success"
      class="slim-down"
      >Initiate Social Recovery</ion-button
    >
    <br />
    <ion-list-header color="success"> Tweak Area</ion-list-header>
    <br />
    <ion-button
      (click)="unhide()"
      expand="block"
      color="primary"
      class="slim-down"
      >Unhide All Wallets / Tokens</ion-button
    >
    <br />
    <ng-container *ngIf="!production">
      <ion-list-header color="warning">
        Danger Zone (Development Mode)</ion-list-header
      >
      <br />
      <ion-button
        (click)="reset()"
        expand="block"
        color="danger"
        class="slim-down"
        >Reset Local Wallet</ion-button
      >
    </ng-container>
  </ion-list>
</ion-content>
